.rec-image {
  max-width: 45rem;
  border-radius: 15px;
  margin: 1rem;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
